@import url("https://fonts.googleapis.com/css?family=Montserrat");


body {
  height: 100%;
  background: #fff;
  font-family: Montserrat,sans-serif;
}

strong {
  font-weight: 800;
}

p {
  line-height: .7;
}
p + p {
  margin-top: 15px;
}

button {
  background-color: #fff;
  border: 0;
  color: #2caf9b;
  padding: 15px 20px;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  border-right: 1px solid #e6ecf1;
}
button:focus {
  outline: none;
  border-right: 1px solid #2caf9b;
}
button:hover {
  border-right: 1px solid #2caf9b;
}
button.selected {
  border-right: 1px solid #2caf9b;
}

#app {
  padding: 50px;

}
.pricelist-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #fff;
  -webkit-box-shadow: 0px 40px 50px 20px rgba(255,255,255,1);
  -moz-box-shadow: 0px 40px 50px 20px rgba(255,255,255,1);
  box-shadow: 0px 40px 50px 20px rgba(255,255,255,1);}
.view {
  position: fixed;
  top: 70px;
  width: 20%;
  height: 100%;
  padding: 40px 20px 10px 20px;
  background-color: #fff;
  box-shadow: 0 20px 10px #fff;
}
.view button {
  margin-right: 20px;
  width: 100%;
  display: block;
  height: 80px;
  text-align: right;
}

.tweet-wrapper {
  padding: 30px 0;
  margin-left: 20%;
}

.tweet {
  background-color: #fff;
  color: #373737;
  padding: 10px 30px;
  width: 80%;
  margin: 30px auto;
}
.tweet + .tweet {
  margin-top: 30px;
}
.tweet .media {
  display: flex;
}
.tweet img {
  width: 64px;
  margin-right: 15px;
}
.tweet small {
  font-size: 16px;
  color: #657786;
}
.price {
  float: right;
}
.dots {
  width: 100%;
  height: 1px;
  border-bottom: 2px dotted #2caf9b;
  display: inline-block;
}
.content p {
  width: 600px;
}
.pricelist-item-name {

}
@media only screen and (max-width: 768px) {
  .tweet {
    background-color: #fff;
    color: #373737;
    padding: 10px 30px;
    width: 90%;
    margin: 10px auto;
  }
  .content p {
    width: 90%;
  }
}