@import url("https://fonts.googleapis.com/css?family=Montserrat");




.pricelist-button {
  background-color: #fff;
  border: 0;
  color: #2caf9b;
  padding: 15px 20px;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  border-right: 1px solid #e6ecf1;
}
.pricelist-button:focus {
  outline: none;
  border-right: 1px solid #2caf9b;
}
.pricelist-button:hover {
  border-right: 1px solid #2caf9b;
}
.pricelist-button.selected {
  border-right: 1px solid #2caf9b;
}

.pricelist-wrapper {
  padding: 30px;
  min-height: 100vh;
}

.pricelist-item {
  background-color: #fff;
  color: #373737;
  padding: 10px 30px;
  width: 60%;
  margin: 10px auto;
}
.pricelist-item p {
  margin-bottom: 0!important;
  padding: 0!important;
}
.pricelist-item + .pricelist-item {
  margin-top: 20px;
}
.price {
  float: right;
}
.dots {
  width: 100%;
  height: 1px;
  border-bottom: 2px dotted #2caf9b;
  display: inline-block;
  padding: 0!important;
  margin: 0!important;
}

.strong {
  font-weight: bold;
  max-width: 70%;
  display: inline-block;
}

@media only screen and (max-width: 768px) {
  .pricelist-item {
    width: 100%;
  }
  .pricelist-item {
    padding: 10px 0;
    width: 100%;
  }
}