<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>List of Tweets</title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

    <div id="app">
      <div class="pricelist-header"></div>
    <div class="view">
      <a :class="[ user_type === 'all' ? 'selected' : '']" @click="update_source('all')">Sve usluge</a>
      <a :class="[ user_type === 'Njega ruku' ? 'selected' : '']" @click="update_source('Njega ruku')">Njega ruku</a>
      <a :class="[ user_type === 'Njega stopala' ? 'selected' : '']" @click="update_source('Njega stopala')">Njega stopala</a>
      <a :class="[ user_type === 'Threading (depilacija koncem)' ? 'selected' : '']" @click="update_source('Threading (depilacija koncem)')">Threading <br>(depilacija koncem)</a>
    </div>
    <div class="tweet-wrapper">
    <tweet-component v-for="tweet in tweets" :tweet="tweet" v-if="(tweet.user_type === user_type) || (user_type === 'all')"/>
  </div>
  </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>

  

    <script src="js/index.js"></script>




</body>

</html>
